.community{
    background-image: url('../../../assets/images/community.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.4;
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}