<div class="w-full border border-solid border-[#9a9a9a] bg-slate-50 rounded-lg object-cover shadow-xl z-50">
    <div class="pt-3 w-11/12 mx-auto lg:p-8 overflow-x-hidden">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight">About Us!</h1>
        <p>
            We're successful developers and software engineers from Lebanon who invented a bunch of success repositories
            in
            a place filled with obstacles and economic crises!
        </p>
        <p>
            <b>Lebanon Stars</b> is a simple project created by <a class="link"
                href="https://lb.linkedin.com/in/ali-alachkar-47b48a190" target="_blank">Ali Alachkar</a> and with the
            help of contributors using <a class="link" href="https://angular.io/" target="_blank">Angular 17</a>,
            <a class="link" href="https://tailwindcss.com/" target="_blank">Tailwind</a>, and <a class="link"
                href="https://daisyui.com/" target="_blank">DaisyUI</a>. The main purpose of the project was to add all the Lebanese repos to be viewed by
            other developers, university students, or even recruiters!
        </p>

        <p class="mt-3">
            You can join us in our <b> Tech & Code</b> coummity.
        </p>
        <div class="mockup-phone mt-6 border-accent">
            <div class="camera"></div>
            <div class="display">
                <div class="artboard phone-1 community">
                    <a href="https://chat.whatsapp.com/I6E9gk8Re1JDFuDkUfxxds" target="_blank">
                        <img [defaultImage]="defaultImage" [lazyLoad]="'../../../assets/images/whatsapp_icon.png'" class="mt-2 w-32 transform-gpu hover:scale-y-105 transition duration-500" alt="lebanon-stars-community-links">
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>