


<div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a routerLink="" id="projects-main">Projects</a>
        </li>
          <li>
            <a routerLink="contributors" id="contributor-main">Contributors</a>
            <a routerLink="about-us" id="about-us-main">About Us</a>
            <!-- <ul class="p-2">
              <li><a >Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul> -->
          </li>

        </ul>
      </div>
      <div class="btn btn-ghost text-xl">Lebanon Stars <span>
        <div class="rating">
            <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" checked />
        </div>
      </span>
    </div>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a routerLink="" id="projects-secondary">Projects</a></li>
        <li><a routerLink="contributors" id="contributor-secondary">Contributors</a></li>
        <li><a routerLink="about-us" id="about-us-secondary">About us</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn bg-transparent border-0" name="github-link" aria-labelledBy="github-link" href="https://www.github.com/aavision/lebanon-stars" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
      </a>
    </div>
  </div>

  <!-- style="background-image: url(https://ali-alachkar.netlify.app/assets/images/skills/angular.png);" -->
  <!-- <div class="hero h-96 bg-gray-600 bg-blend-multiply" >
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
        <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <button class="btn btn-accent">Get Started</button>
      </div>
    </div>
</div> -->


<!-- <div class="hero h-96 bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="https://ali-alachkar.netlify.app/assets/images/skills/angular.png" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Box Office News!</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div> -->