<div class="bgg">

  <div class="pb-6 flex md:flex md:flex-grow flex-row">
    <form [formGroup]="searchForm" class="w-full md:w-2/12">
      <label class="input input-bordered flex items-center">
        <input type="text" class="grow" placeholder="Search" formControlName="search" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70">
          <path fill-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
            clip-rule="evenodd" />
        </svg>
      </label>
    </form>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-6 lg:gap-4 sm:grid-cols-2 z-50">
    @for(project of projects | filter:searchText | paginate: { itemsPerPage: 8, currentPage: pageNumber }; track
    project.id){

    <app-project [metadata]="project" (info)="receiveInfo($event)"></app-project>

    }@empty {
    <div class="flex items-center justify-center">
      <img [defaultImage]="defaultImage" [lazyLoad]="'assets/images/no-data.webp'" alt=""
        class="text-center rounded-xl transform-gpu hover:scale-y-105 transition duration-500 ">
    </div>
    }

  </div>

  @if(projects.length > 0){
  <div class="grid grid-cols-2">
    <div role="alert" class="alert shadow-lg mt-6 mb-6 w-50 text-right col-start-4 col-end-5">
      <pagination-controls [responsive]="true" (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </div>
  }

</div>



<dialog id="my_modal_4" class="modal" #dataBlock>

  <div class="modal-box w-11/12 max-w-5xl">
    @if(isLoading){
    <div class="flex flex-col gap-4 w-full">
      <div class="skeleton h-32 w-full"></div>
      <div class="skeleton h-4 w-28"></div>
      <div class="skeleton h-4 w-full"></div>
      <div class="skeleton h-4 w-full"></div>
    </div>
    }
    @else {

    @if(!githubData){
    <div role="alert" class="alert alert-error">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Error! Retrieving data from GitHub!</span>
    </div>

    }@else {

    <div class="bg-gray-600 bg-blend-multiply border-2 rounded-lg bg-no-repeat bg-center"
      style="background-image: url({{githubData?.owner.avatar_url}}); ">
      <div class="hero-overlay bg-opacity-40"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">{{githubData?.name}}</h1>
          <p class="mb-5">{{githubData?.description}}</p>
          @if(githubData?.topics){
            @for(topic of githubData?.topics; track topic){
            <div class="badge badge-secondary pr-2 mr-2">{{topic}}</div>
            }
          }
          <div class="pt-6">
            <button class="btn">
              {{githubData?.stargazers_count}}
              <div class="rating">
                <input type="radio" name="rating-4" class="mask mask-star-2 bg-yellow-500" checked />
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="mockup-code mt-6">
      <pre class="p-4">
          <markdown [src]="readMeData"></markdown>
        </pre>
    </div>

    <div role="alert" class="alert shadow-lg mt-6 mb-6 flex text-center">
      <div class="stats stats-vertical lg:stats-horizontal shadow w-full">

        @for(data of languageData; track data.key; let idx = $index){
        @if(idx >= 4){
        <!-- To be added later -->
        }@else {
        <div class="stat">
          <div class="stat-title">{{data.key}}</div>
          <div class="stat-value">{{(data.value / languageFilesCount) | percent}}</div>
        </div>
        }
        }
      </div>
    </div>

    <div role="alert" class="alert shadow-lg mt-6 mb-6">
      <div class="flex text-center z-50">
        <ul class="timeline timeline-vertical lg:timeline-horizontal">
          <li>
            <div class="timeline-start">Created at</div>
            <div class="timeline-middle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div class="timeline-end timeline-box">{{removeTime(githubData?.created_at)}}</div>
            <hr />
          </li>
          <li>
            <hr />
            <div class="timeline-start">Last Updated at</div>
            <div class="timeline-middle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div class="timeline-end timeline-box">{{removeTime(githubData?.updated_at)}}</div>
            <hr />
          </li>
          <li>
            <hr />
            <div class="timeline-start">Size</div>
            <div class="timeline-middle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div class="timeline-end timeline-box">{{githubData?.size / 1024 | number : '1.0-2'}} KB</div>
            <hr />
          </li>
          <li>
            <hr />
            <div class="timeline-start">Forks</div>
            <div class="timeline-middle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div class="timeline-end timeline-box">{{githubData?.fork ? '✅':'❌'}}</div>
            <hr>
          </li>
          <li>
            <hr />
            <div class="timeline-start">Forks Count</div>
            <div class="timeline-middle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div class="timeline-end timeline-box">{{githubData?.forks_count}}</div>
            <hr>
          </li>
          <li>
            <hr />
            <div class="timeline-start">License</div>
            <div class="timeline-middle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div class="timeline-end timeline-box">{{githubData?.license.name}}</div>
            <hr>
          </li>
          @if(githubData?.homepage){
            <li>
              <hr />
              <div class="timeline-start">Home Page</div>
              <div class="timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <div class="timeline-end timeline-box"><a [href]="githubData?.homepage" target="_blank"
                  class="link">{{githubData?.homepage}}</a></div>
            </li>
          }
          
        </ul>
      </div>
    </div>

    <div role="alert" class="alert shadow-lg mt-6 mb-6 flex justify-center items-center">
      <img class="rounded-lg" [defaultImage]="defaultImage" [lazyLoad]="buildStarHistory(githubData?.full_name)"
        alt="lebanon-stars-{{githubData?.full_name}}">
    </div>
    }

    }

    <div class="modal-action">
      <form method="dialog">
        <button class="btn" (click)="closeModal()">Close</button>
      </form>
    </div>
  </div>
</dialog>